In [3]:
from datetime import datetime

import pandas as pd

import xgboost as xgb

import numpy as np

import seaborn as sns

from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, precision_score, recall_score, f1_score, roc_auc_score, confusion_matrix
from sklearn.feature_selection import SelectPercentile, mutual_info_classif

In [4]:
# Read CSV
df = pd.read_csv('../data/DontGetKicked/training.csv')

# Show df info
df.info()

# Show feature statistics
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 72983 entries, 0 to 72982
Data columns (total 34 columns):
 #   Column                             Non-Null Count  Dtype
---  ------                             --------------  -----
 0   RefId                              72983 non-null  int64
 1   IsBadBuy                           72983 non-null  int64
 2   PurchDate                          72983 non-null  object
 3   Auction                            72983 non-null  object
 4   VehYear                            72983 non-null  int64
 5   VehicleAge                         72983 non-null  int64
 6   Make                               72983 non-null  object
 7   Model                              72983 non-null  object
 8   Trim                               70623 non-null  object
 9   SubModel                           72975 non-null  object
 10  Color                              72975 non-null  object
 11  Transmission                       72974 non-null  object
 12  WheelTypeID                        69814 non-null  float64
 13  WheelType                          69809 non-null  object
 14  VehOdo                             72983 non-null  int64
 15  Nationality                        72978 non-null  object
 16  Size                               72978 non-null  object
 17  TopThreeAmericanName               72978 non-null  object
 18  MMRAcquisitionAuctionAveragePrice  72965 non-null  float64
 19  MMRAcquisitionAuctionCleanPrice    72965 non-null  float64
 20  MMRAcquisitionRetailAveragePrice   72965 non-null  float64
 21  MMRAcquisitonRetailCleanPrice      72965 non-null  float64
 22  MMRCurrentAuctionAveragePrice      72668 non-null  float64
 23  MMRCurrentAuctionCleanPrice        72668 non-null  float64
 24  MMRCurrentRetailAveragePrice       72668 non-null  float64
 25  MMRCurrentRetailCleanPrice         72668 non-null  float64
 26  PRIMEUNIT                          3419 non-null   object
 27  AUCGUART                           3419 non-null   object
 28  BYRNO                              72983 non-null  int64
 29  VNZIP1                             72983 non-null  int64
 30  VNST                               72983 non-null  object
 31  VehBCost                           72983 non-null  float64
 32  IsOnlineSale                       72983 non-null  int64
 33  WarrantyCost                       72983 non-null  int64
dtypes: float64(10), int64(9), object(15)
memory usage: 18.9+ MB

,RefId,IsBadBuy,VehYear,VehicleAge,WheelTypeID,VehOdo,MMRAcquisitionAuctionAveragePrice,MMRAcquisitionAuctionCleanPrice,MMRAcquisitionRetailAveragePrice,MMRAcquisitonRetailCleanPrice,MMRCurrentAuctionAveragePrice,MMRCurrentAuctionCleanPrice,MMRCurrentRetailAveragePrice,MMRCurrentRetailCleanPrice,BYRNO,VNZIP1,VehBCost,IsOnlineSale,WarrantyCost
count,72983.000000,72983.000000,72983.000000,72983.000000,69814.000000,72983.000000,72965.000000,72965.000000,72965.000000,72965.000000,72668.000000,72668.000000,72668.000000,72668.000000,72983.000000,72983.000000,72983.000000,72983.000000,72983.000000
mean,36511.428497,0.122988,2005.343052,4.176644,1.494299,71499.995917,6128.909217,7373.636031,8497.034332,9850.928240,6132.081287,7390.681827,8775.723331,10145.385314,26345.842155,58043.059945,6730.934326,0.025280,1276.580985
std,21077.241302,0.328425,1.731252,1.712210,0.521290,14578.913128,2461.992768,2722.491986,3156.285284,3385.789541,2434.567723,2686.248852,3090.702941,3310.254351,25717.351219,26151.640415,1767.846435,0.156975,598.846788
min,1.000000,0.000000,2001.000000,0.000000,0.000000,4825.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,835.000000,2764.000000,1.000000,0.000000,462.000000
25%,18257.500000,0.000000,2004.000000,3.000000,1.000000,61837.000000,4273.000000,5406.000000,6280.000000,7493.000000,4275.000000,5414.000000,6536.000000,7784.000000,17212.000000,32124.000000,5435.000000,0.000000,837.000000
50%,36514.000000,0.000000,2005.000000,4.000000,1.000000,73361.000000,6097.000000,7303.000000,8444.000000,9789.000000,6062.000000,7313.000000,8729.000000,10103.000000,19662.000000,73108.000000,6700.000000,0.000000,1155.000000
75%,54764.500000,0.000000,2007.000000,5.000000,2.000000,82436.000000,7765.000000,9021.000000,10651.000000,12088.000000,7736.000000,9013.000000,10911.000000,12309.000000,22808.000000,80022.000000,7900.000000,0.000000,1623.000000
max,73014.000000,1.000000,2010.000000,9.000000,3.000000,115717.000000,35722.000000,36859.000000,39080.000000,41482.000000,35722.000000,36859.000000,39080.000000,41062.000000,99761.000000,99224.000000,45469.000000,1.000000,7498.000000

In [5]:
categorical_columns = [
    'Auction', 'Make', 'Model', 'Trim', 'SubModel', 'Color', 
    'VehYear', 'Transmission', 'WheelType', 'Nationality', 'Size', 
    'TopThreeAmericanName', 'PRIMEUNIT', 'AUCGUART', 'VNST',
    'WheelTypeID', 'VNZIP1', 'IsOnlineSale'
]

df[categorical_columns] = df[categorical_columns].astype('category')

In [11]:
for column in categorical_columns:
    print(df[column].value_counts())
    print()

Auction
MANHEIM    41043
OTHER      17501
ADESA      14439
Name: count, dtype: int64

Make
CHEVROLET       17248
DODGE           12912
FORD            11305
CHRYSLER         8844
PONTIAC          4258
KIA              2484
SATURN           2163
NISSAN           2085
HYUNDAI          1811
JEEP             1644
SUZUKI           1328
TOYOTA           1144
MITSUBISHI       1030
MAZDA             979
MERCURY           913
BUICK             720
GMC               649
HONDA             497
OLDSMOBILE        243
ISUZU             134
VOLKSWAGEN        134
SCION             129
LINCOLN            97
INFINITI           42
VOLVO              37
CADILLAC           33
ACURA              33
LEXUS              31
SUBARU             28
MINI               24
PLYMOUTH            2
HUMMER              1
TOYOTA SCION        1
Name: count, dtype: int64

Model
PT CRUISER              2329
IMPALA                  1990
TAURUS                  1425
CALIBER                 1375
CARAVAN GRAND FWD V6    1289
                        ...
TRAILBLAZER 4WD V8         1
MONTERO 4WD V6 3.8L        1
AVALON 3.0L V6 EFI         1
IS300                      1
4 RUNNER 4WD V6            1
Name: count, Length: 1063, dtype: int64

Trim
Bas    13950
LS     10174
SE      9348
SXT     3825
LT      3540
       ...
Har        1
LL         1
Maz        1
Out        1
L 3        1
Name: count, Length: 134, dtype: int64

SubModel
4D SEDAN                            15236
4D SEDAN LS                          4718
4D SEDAN SE                          3859
4D WAGON                             2230
MINIVAN 3.3L                         1258
                                    ...
4D SUV 4.7L SLT PLUS                    1
MINIVAN LX                              1
4D SUV 4.7L FFV LIMITED                 1
PASSENGER 3.4L LS                       1
4D SPORT UTILITY SE SUPERCHARGED        1
Name: count, Length: 863, dtype: int64

Color
SILVER       14875
WHITE        12123
BLUE         10347
GREY          7887
BLACK         7627
RED           6257
GOLD          5231
GREEN         3194
MAROON        2046
BEIGE         1584
BROWN          436
ORANGE         415
PURPLE         373
YELLOW         244
OTHER          242
NOT AVAIL       94
Name: count, dtype: int64

VehYear
2006    17043
2005    15489
2007    11423
2004    10207
2008     6885
2003     6227
2002     3405
2001     1481
2009      822
2010        1
Name: count, dtype: int64

Transmission
AUTO      70398
MANUAL     2575
Manual        1
Name: count, dtype: int64

WheelType
Alloy      36050
Covers     33004
Special      755
Name: count, dtype: int64

Nationality
AMERICAN          61028
OTHER ASIAN        8033
TOP LINE ASIAN     3722
OTHER               195
Name: count, dtype: int64

Size
MEDIUM         30785
LARGE           8850
MEDIUM SUV      8090
COMPACT         7205
VAN             5854
LARGE TRUCK     3170
SMALL SUV       2276
SPECIALTY       1915
CROSSOVER       1759
LARGE SUV       1433
SMALL TRUCK      864
SPORTS           777
Name: count, dtype: int64

TopThreeAmericanName
GM          25314
CHRYSLER    23399
FORD        12315
OTHER       11950
Name: count, dtype: int64

PRIMEUNIT
NO     3357
YES      62
Name: count, dtype: int64

AUCGUART
GREEN    3340
RED        79
Name: count, dtype: int64

VNST
TX    13596
FL    10447
CA     7095
NC     7042
AZ     6174
CO     4998
SC     4280
OK     3594
GA     2450
TN     1764
VA     1662
MD     1158
UT      875
PA      847
OH      795
MO      758
AL      690
NV      562
IA      499
MS      493
IN      486
IL      458
LA      349
NJ      317
WV      292
NM      239
KY      230
OR      211
ID      196
WA      136
NH       97
AR       70
MN       62
NE       26
MA       15
MI       14
NY        6
Name: count, dtype: int64

WheelTypeID
1.0    36050
2.0    33004
3.0      755
0.0        5
Name: count, dtype: int64

VNZIP1
32824    3699
27542    3402
75236    2431
74135    2321
80022    2118
         ...
25071       1
76101       1
80112       1
85248       1
85338       1
Name: count, Length: 153, dtype: int64

IsOnlineSale
0    71138
1     1845
Name: count, dtype: int64

In [24]:
for column in categorical_columns:
    print((df[column].value_counts() / len(df[column])))
    print()

Auction
MANHEIM    0.562364
OTHER      0.239796
ADESA      0.197841
Name: count, dtype: float64

Make
CHEVROLET       0.236329
DODGE           0.176918
FORD            0.154899
CHRYSLER        0.121179
PONTIAC         0.058342
KIA             0.034035
SATURN          0.029637
NISSAN          0.028568
HYUNDAI         0.024814
JEEP            0.022526
SUZUKI          0.018196
TOYOTA          0.015675
MITSUBISHI      0.014113
MAZDA           0.013414
MERCURY         0.012510
BUICK           0.009865
GMC             0.008892
HONDA           0.006810
OLDSMOBILE      0.003330
ISUZU           0.001836
VOLKSWAGEN      0.001836
SCION           0.001768
LINCOLN         0.001329
INFINITI        0.000575
VOLVO           0.000507
CADILLAC        0.000452
ACURA           0.000452
LEXUS           0.000425
SUBARU          0.000384
MINI            0.000329
PLYMOUTH        0.000027
HUMMER          0.000014
TOYOTA SCION    0.000014
Name: count, dtype: float64

Model
PT CRUISER              0.031912
IMPALA                  0.027267
TAURUS                  0.019525
CALIBER                 0.018840
CARAVAN GRAND FWD V6    0.017662
                          ...
TRAILBLAZER 4WD V8      0.000014
MONTERO 4WD V6 3.8L     0.000014
AVALON 3.0L V6 EFI      0.000014
IS300                   0.000014
4 RUNNER 4WD V6         0.000014
Name: count, Length: 1063, dtype: float64

Trim
Bas    0.191140
LS     0.139402
SE     0.128085
SXT    0.052409
LT     0.048504
         ...
Har    0.000014
LL     0.000014
Maz    0.000014
Out    0.000014
L 3    0.000014
Name: count, Length: 134, dtype: float64

SubModel
4D SEDAN                            0.208761
4D SEDAN LS                         0.064645
4D SEDAN SE                         0.052875
4D WAGON                            0.030555
MINIVAN 3.3L                        0.017237
                                      ...
4D SUV 4.7L SLT PLUS                0.000014
MINIVAN LX                          0.000014
4D SUV 4.7L FFV LIMITED             0.000014
PASSENGER 3.4L LS                   0.000014
4D SPORT UTILITY SE SUPERCHARGED    0.000014
Name: count, Length: 863, dtype: float64

Color
SILVER       0.203815
WHITE        0.166107
BLUE         0.141773
GREY         0.108066
BLACK        0.104504
RED          0.085732
GOLD         0.071674
GREEN        0.043764
MAROON       0.028034
BEIGE        0.021704
BROWN        0.005974
ORANGE       0.005686
PURPLE       0.005111
YELLOW       0.003343
OTHER        0.003316
NOT AVAIL    0.001288
Name: count, dtype: float64

VehYear
2006    0.233520
2005    0.212228
2007    0.156516
2004    0.139854
2008    0.094337
2003    0.085321
2002    0.046655
2001    0.020292
2009    0.011263
2010    0.000014
Name: count, dtype: float64

Transmission
AUTO      0.964581
MANUAL    0.035282
Manual    0.000014
Name: count, dtype: float64

WheelType
Alloy      0.493951
Covers     0.452215
Special    0.010345
Name: count, dtype: float64

Nationality
AMERICAN          0.836195
OTHER ASIAN       0.110067
TOP LINE ASIAN    0.050998
OTHER             0.002672
Name: count, dtype: float64

Size
MEDIUM         0.421811
LARGE          0.121261
MEDIUM SUV     0.110848
COMPACT        0.098722
VAN            0.080210
LARGE TRUCK    0.043435
SMALL SUV      0.031185
SPECIALTY      0.026239
CROSSOVER      0.024102
LARGE SUV      0.019635
SMALL TRUCK    0.011838
SPORTS         0.010646
Name: count, dtype: float64

TopThreeAmericanName
GM          0.346848
CHRYSLER    0.320609
FORD        0.168738
OTHER       0.163737
Name: count, dtype: float64

PRIMEUNIT
NO     0.045997
YES    0.000850
Name: count, dtype: float64

AUCGUART
GREEN    0.045764
RED      0.001082
Name: count, dtype: float64

VNST
TX    0.186290
FL    0.143143
CA    0.097214
NC    0.096488
AZ    0.084595
CO    0.068482
SC    0.058644
OK    0.049244
GA    0.033569
TN    0.024170
VA    0.022772
MD    0.015867
UT    0.011989
PA    0.011605
OH    0.010893
MO    0.010386
AL    0.009454
NV    0.007700
IA    0.006837
MS    0.006755
IN    0.006659
IL    0.006275
LA    0.004782
NJ    0.004343
WV    0.004001
NM    0.003275
KY    0.003151
OR    0.002891
ID    0.002686
WA    0.001863
NH    0.001329
AR    0.000959
MN    0.000850
NE    0.000356
MA    0.000206
MI    0.000192
NY    0.000082
Name: count, dtype: float64

WheelTypeID
1.0    0.493951
2.0    0.452215
3.0    0.010345
0.0    0.000069
Name: count, dtype: float64

VNZIP1
32824    0.050683
27542    0.046614
75236    0.033309
74135    0.031802
80022    0.029020
           ...
25071    0.000014
76101    0.000014
80112    0.000014
85248    0.000014
85338    0.000014
Name: count, Length: 153, dtype: float64

IsOnlineSale
0    0.97472
1    0.02528
Name: count, dtype: float64